# --- SERVER
NODE_ENV=
SERVER_PORT=
SERVER_HOST=

# --- DOMINIOS Y URLS
FRONT_URL=
ADMIN_URL=
API_URL=

# --- AUTENTICACIÓN
JWT_SECRET=
SALT_ROUNDS=
TOKEN_EXPIRATION=

# --- CONFIG COOKIES
COOKIE_NAME=
COOKIE_DOMAIN=
HTTP_ONLY=
COOKIE_EXPIRATION=

# --- CONFIG BASE DE DATOS
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_INSEC_AUTH=