<!DOCTYPE html>
<html lang="es">
<head>
    <!-- BASE -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Órbita</title>

    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/pages/account.css">

    <script type="module" src="scripts/main.js"></script>
    <script type="module" src="scripts/pages/account.js"></script>
</head>
<body>
    <header>
        <orbi-nav></orbi-nav>
    </header>

    <orbi-panel></orbi-panel>

    <main>
        <nav id="account-sidebar">
            <ul>
                <li><a href="" data-view="profile" class="active">Perfil</a></li>
                <li><a href="" data-view="sync">Cuentas</a></li>
                <li><a href="" data-view="libraries">Biblioteca</a></li>
            </ul>
        </nav>

        <article id="account-content">
            <section id="profile-view" class="content-view">
                <div class="image-container">
                    <img id="image" alt="Foto de perfil">
                    <button class="edit-btn image-btn" data-field="image" title="Cambiar foto de perfil.">
                        <orbi-icon name="image"></orbi-icon>
                    </button>
                </div>

                <div class="username-container">
                    <h2 id="username"></h2>
                    <button class="edit-btn username-btn" data-field="user" title="Cambiar nombre de usuario.">
                        <orbi-icon name="edit"></orbi-icon>
                    </button>
                </div>

                <span id="email"></span>

                <div class="tier-container">
                    <h4>Suscripción</h4>
                    <span id="tier"></span>
                </div>

                <button class="edit-btn password-btn" data-field="password" title="Cambiar contraseña.">Cambiar contraseña</button>
            </section>

            <section id="sync-view" class="content-view hidden">
                <h2>Cuentas vinculadas</h2>
                <p>Vinculá tus cuentas de tus tiendas digitales favoritas para traer tu biblioteca y disfrutar de tus juegos.</p>

                <ul class="sync-list">
                    <li>
                        <a href="">
                            <img src="assets/images/platforms/steam.png" alt="Steam">
                            <span>Steam</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="assets/images/platforms/epicgames.png" alt="Epic Games">
                            <span>Epic Games</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="assets/images/platforms/gogcom.png" alt="GOG.COM">
                            <span>GOG.COM</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="assets/images/platforms/xbox.png" alt="Xbox">
                            <span>Xbox</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="assets/images/platforms/eaapp.png" alt="EA App">
                            <span>EA App</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="assets/images/platforms/battlenet.png" alt="Battle.Net">
                            <span>Battle.Net</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="assets/images/platforms/ubisoft.png" alt="Ubisoft Connect">
                            <span>Ubisoft Connect</span>
                        </a>
                    </li>
                </ul>
            </section>

            <section id="libraries-view" class="content-view hidden"></section>
        </article>

        <dialog id="account-dialog">
            <h3 id="dialog-title"></h3>
            <form>
                <div id="dialog-body"></div>
                <menu>
                    <button id="cancel-btn" type="button">Cancelar</button>
                    <button id="submit-btn" type="submit">Guardar</button>
                </menu>
            </form>
        </dialog>
    </main>
</body>
</html>