<!DOCTYPE html>
<html lang="es">
<head>
    <!-- BASE -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Órbita ⪼ Aplicaciones</title>

    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/pages/apps-list.css">

    <script type="module" src="scripts/main.js"></script>
</head>
<body>
    <header>
        <orbi-nav></orbi-nav>
    </header>

    <orbi-panel></orbi-panel>

    <main>
        <section id="apps-list">
            <h2 class="title">Descargar Órbita</h2>
            <h3 class="subtitle">Para tu dispositivo.</h3>

            <span class="link-title">Escritorio</span>
            <ul class="desktop-links links">
                <li>
                    <orbi-icon name="home"></orbi-icon>
                    <span>Descarga para</span>
                    <h3>Windows</h3>
                </li>
                <li>
                    <orbi-icon name="home"></orbi-icon>
                    <span>Descarga para</span>
                    <h3>macOS (Intel)</h3>
                </li>
                <li>
                    <orbi-icon name="home"></orbi-icon>
                    <span>Descarga para</span>
                    <h3>macOS (M1+)</h3>
                </li>
                <li>
                    <orbi-icon name="home"></orbi-icon>
                    <span>Descarga para</span>
                    <h3>Linux (deb)</h3>
                </li>
                <li>
                    <orbi-icon name="home"></orbi-icon>
                    <span>Descarga para</span>
                    <h3>Linux (rpm)</h3>
                </li>
                <li>
                    <orbi-icon name="home"></orbi-icon>
                    <span>Descarga para</span>
                    <h3>Linux</h3>
                </li>
            </ul>

            <span class="link-title">Móvil</span>
            <ul class="mobile-links links">
                <li>
                    <orbi-icon name="home"></orbi-icon>
                    <span>Descarga para</span>
                    <h3>Android Mobile</h3>
                </li>
                <li>
                    <orbi-icon name="home"></orbi-icon>
                    <span>Descarga para</span>
                    <h3>iOS Mobile</h3>
                </li>
            </ul>

            <span class="link-title">TV</span>
            <ul class="tv-links links">
                <li>
                    <orbi-icon name="home"></orbi-icon>
                    <span>Descarga para</span>
                    <h3>Android TV</h3>
                </li>
                <li>
                    <orbi-icon name="home"></orbi-icon>
                    <span>Descarga para</span>
                    <h3>webOS</h3>
                </li>
                <li>
                    <orbi-icon name="home"></orbi-icon>
                    <span>Descarga para</span>
                    <h3>Fire OS</h3>
                </li>
            </ul>
        </section>
    </main>

    <footer>
        <orbi-logo></orbi-logo>
        <span>Sitio creado por <a href="https://github.com/leonel-bautista/orbita" target="_blank">Leonel Bautista</a></span>
        <p>&copy; 2025 Órbita. Todos los derechos reservados.</p>
    </footer>
</body>
</html>