<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Órbita</title>

    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/pages/game.css">

    <script type="module" src="../scripts/main.js"></script>
    <script type="module" src="../scripts/pages/game.js"></script>
</head>
<body>
    <header>
        <orbi-nav></orbi-nav>
    </header>

    <orbi-panel></orbi-panel>

    <main>
        <div class="game-header">
            <img src="/uploads/games/g-default.jpg" alt="">

            <div class="game-details">
                <h1 class="name"></h1>

                <div class="tags"></div>

                <div class="platforms">
                    <h2 class="subtitle">Disponible en</h2>
                </div>
            </div>

            <div class="development-details">
                <h2 class="title">Desarrollo</h2>

                <div class="development">
                    <span class="subtitle">Fecha de lanzamiento</span>
                    <span class="launch"></span>

                    <span class="subtitle">Desarrollador por</span>
                    <span class="developer"></span>
                </div>
            </div>
        </div>
        <section id="game-info">
            <div class="description-details">
                <h2 class="title"></h2>
                <p class="description"></p>
            </div>
        </section>
    </main>

    <footer>
        <orbi-logo></orbi-logo>
        <span>Sitio creado por <a href="https://github.com/leonel-bautista/orbita" target="_blank">Leonel Bautista</a></span>
        <p>&copy; 2025 Órbita. Todos los derechos reservados.</p>
    </footer>
</body>
</html>