<!DOCTYPE html>
<html lang="es">
<head>
    <!-- BASE -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Órbita ⪼ Registrarse</title>

    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/pages/register.css">

    <script type="module" src="scripts/pages/register.js"></script>
</head>
<body>
    <main>
        <section id="register-section">
            <a href="." class="home-link">
                <orbi-logo></orbi-logo>
            </a>

            <h2>
                Regístrate para empezar.
            </h2>
            <p>
                Ya estás registrado?
                <a href="login">Inicia sesión</a>
                a tu cuenta.
            </p>

            <form novalidate>
                <div class="input-container">
                    <label for="email-input">Correo electrónico</label>
                    <input id="email-input" name="email" type="email" autocomplete="email" placeholder="">
                </div>
                <div class="input-container">
                    <label for="pw-input">Contraseña</label>
                    <input id="pw-input" name="password" type="password" autocomplete="current-password" placeholder="">
                    <div class="btn-container">
                        <button type="button" id="toggle-pw-btn">
                            <orbi-icon name="show"></orbi-icon>
                        </button>
                    </div>
                </div>
                <button type="submit" id="submit-btn" disabled>
                    <orbi-icon name="enter"></orbi-icon>
                    <span>REGISTRARSE</span>
                </button>
            </form>
        </section>
    </main>
</body>
</html>