<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Órbita ⪼ Descargas</title>

    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/pages/subscriptions.css">

    <script type="module" src="../scripts/main.js"></script>
</head>
<body>
    <header>
        <orbi-nav></orbi-nav>
    </header>

    <orbi-panel></orbi-panel>

    <main>
        <section id="subscriptions-list">
            <div class="tier">
                <h3 class="title">Base</h3>
                <h2 class="price">$0</h2>
                <P class="description"></P>

                <ul class="tier-features">
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Sesiones de 30 minutos continuos.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Prioridad baja en la fila.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Anuncios mientras estás en la fila.</span>
                    </li>
                </ul>
            </div>
            <div class="tier">
                <h3 class="title">Prioritario</h3>
                <h2 class="price">$4,99</h2>
                <P class="description"></P>

                <ul class="tier-features">
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Horas ilimitadas para jugar.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>100 horas de beneficios.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Sesiones de 6 horas continuas.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Prioridad alta en la fila.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Patallas UltraWide.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Sin anuncios y con recompensas.</span>
                    </li>
                </ul>
            </div>
            <div class="tier">
                <h3 class="title">Premium</h3>
                <h2 class="price">$11,99</h2>
                <P class="description"></P>

                <ul class="tier-features">
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Horas ilimitadas para jugar.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>100 horas de beneficios.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Sesiones de 8 horas continuas.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Prioridad máxima en la fila.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>RTX y DLSS 3.5 en juegos compatibles.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Patallas UltraWide.</span>
                    </li>
                    <li class="feature">
                        <orbi-icon name="check"></orbi-icon>
                        <span>Sin anuncios y con recompensas.</span>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <orbi-logo></orbi-logo>
        <span>Sitio creado por <a href="https://github.com/leonel-bautista/orbita" target="_blank">Leonel Bautista</a></span>
        <p>&copy; 2025 Órbita. Todos los derechos reservados.</p>
    </footer>
</body>
</html>