section#about {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 50%;
    justify-self: center;
    padding-top: calc(70px + 2em);
    gap: 2em;
}

.title {
    font-size: 2.2rem;
    font-family: var(--font-title);
    font-weight: 600;
    color: var(--color-tertiary-900);
    line-height: 2;
}

p {
    line-height: 1.8;
    color: var(--color-text-muted);
}

ul {
    display: grid;
    gap: 1em;
}

span {
    font-weight: 700;
}