section#main-info {
    width: 100%;
    height: min(100dvh, 650px);
    position: relative;
    display: flex;
    gap: 1.5em;
    justify-content: center;
    overflow: hidden;
    z-index: 50;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(to top, var(--color-bg-dark) 20%, transparent);
        pointer-events: none;
        z-index: -1;
    }
}
img {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: -1;
}
section#main-info {
    .basic-details {
        width: clamp(20px, 60dvw, 700px);
        height: clamp(20px, 50dvh, 350px);
        padding: 1em 2em;
        border-radius: 1em 1em 0 0;

        display: flex;
        flex-direction: column;
        align-self: end;
        background: linear-gradient(to top, var(--color-bg), oklch(from var(--color-bg) l c h / 70%));

        .name {
            padding: 0.5em 0;
            font-family: var(--font-title);
            font-weight: 600;
            align-content: center;
        }
        .tags {
            display: flex;
            gap: 0.5em;
        }
        .tag {
            width: fit-content;
            height: fit-content;
            padding: 0.3em 0.8em;
            font-size: .75rem;
            font-weight: 500;
            border-radius: .5em;

            color: var(--color-text-muted);
            box-shadow: inset 0 0 0 1px var(--color-primary-700);
            cursor: default;
        }
        .platforms {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em 0.8em;
            font-size: 0.9rem;
            margin-top: 2em;

            .platform {
                padding-inline: .5em;
                font-weight: 500;
                font-size: 1rem;
                color: var(--color-text-muted);
                box-shadow: -2px 0 var(--color-text-muted);
                cursor: default;
            }
            .subtitle {
                display: inline-block;
                width: 100%;
                height: fit-content;
                font-family: var(--font-title);
                font-weight: 600;
            }
            .no-platforms {
                align-self: center;
            }
        }
    }

    .development-details {
        width: 25dvw;
        height: clamp(20px, 50dvh, 350px);
        padding: 1em 2em;
        border-radius: 1em 1em 0 0;
        display: flex;
        flex-direction: column;
        align-self: end;
        background: linear-gradient(to top, var(--color-bg), oklch(from var(--color-bg) l c h / 70%));

        .development {
            display: flex;
            flex-direction: column;
            font-size: 1rem;
        }
        .subtitle {
            margin-top: 1.5em;
            font-size: 0.9rem;
            color: var(--color-text-muted);
            cursor: text;
        }
        .launch, .developer {
            font-size: 1rem;
            font-weight: 600;
            color: var(--color-text);
            cursor: default;
        }
    }
}

section#extra-info {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 55;

    .description-details {
        width: calc(clamp(20px, 60dvw, 700px) + 25dvw + 1.5em);
        height: fit-content;
        padding: 2em;
        display: flex;
        gap: 1.5em;
        padding-bottom: 4em;
        flex-direction: column;
        color: var(--color-text);
        background: var(--color-bg);
    }
    .title {
        font-family: var(--font-title);
        font-weight: 500;
        position: relative;
        color: var(--color-text);

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: -5px;
            border-radius: 50%;
            background: linear-gradient(to right, var(--color-primary-700), transparent 80%);
        }
    }
    .description {
        font-size: 1rem;
        line-height: 1.5;
        color: var(--color-text-muted);
    }
}