section#games-list {
    min-height: 100dvh;
    padding: 5dvw;
    padding-top: calc(5dvw + 70px);
}

#games-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
    gap: 1em;
    justify-content: space-evenly;

    list-style: none;
    container-type: inline-size;
    position: relative;

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        font-style: italic;
        position: absolute;
        inset: 0;
        justify-self: center;

        color: var(--color-text-muted);
        cursor: default;
    }
    .listed-game {
        overflow: hidden;
        aspect-ratio: 1 / 1;
        border-radius: 1em;
    }
    a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;

        > * { pointer-events: none; }

        img {
            object-fit: contain;
            object-position: center;
            height: 100%;
            width: auto;
        }
        .name {
            margin: .8em 1em;
            font-weight: 700;
            font-size: .9rem;

            position: absolute;
            bottom: 0;
            left: 0;
            color: var(--color-text);

            opacity: 0;
            visibility: hidden;
            z-index: 100;
            transition: opacity 200ms ease-out, visibility 200ms ease-out;
        }

        &:hover::after, &:hover .name {
            visibility: visible;
            opacity: 1;
        }
    }
    a::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;

        background: linear-gradient(to top, var(--color-bg), transparent);
        /* display: none; */
        visibility: hidden;
        translate: 0 20px;
        opacity: 0;
        transition: opacity 200ms ease-out, visibility 200ms ease-out;
    }
}

@keyframes slideIn {
    to {
        translate: 0;
        opacity: 1;
    }
}

.search-controls {
    position: sticky;
    top: 70px;
    width: 100%;
    margin-bottom: 3em;
    z-index: 300;

    orbi-icon {
        position: absolute;
        left: 0;
        color: var(--color-text-muted);
        align-self: center;
        margin-left: .4em;
    }
    #search-input {
        width: 100%;
        height: 100%;
        padding: .5em 2.8em;
        border: none;
        background: var(--color-bg-dark);
        border-bottom: 1px solid var(--color-text-muted);
        color: var(--color-text);

        &:focus-visible {
            outline: transparent;
            border-bottom-color: var(--color-tertiary-900);
        }
    }
}