body > main {
    min-height: 100dvh;

    display: grid;
    place-items: center;

    background-color: var(--color-bg-dark);
    /* background-image: linear-gradient(oklch(from black l c h / 30%)), url('/assets/images/signin-bg.jpeg');
    background-size: cover;
    background-position: center; */
}

#login-section {
    width: clamp(min(100vw, 450px), 40vw, 650px);
    height: fit-content;
    padding: min(8vh, 4em) min(10vw, 3em);
    position: relative;
    display: flex;
    flex-direction: column;

    /* border-radius: 1em;
    backdrop-filter: blur(5px);
    background: oklch(from var(--color-bg-light) l c h / 30%); */

    z-index: 1000;

    /* &:focus-within::before {
        width: 96%;
        height: 96%;
        box-shadow: inset 0 0 0 .1em var(--color-tertiary-900);
    }
    &:has(#submit-btn + orbi-icon.loading)::before{
        box-shadow: inset 0 0 0 .1em oklch(from var(--color-text) l c h / 20%)
    } */
}
/* #login-section::before{
    content: '';
    width: 97%;
    height: 97%;
    inset: 0;
    margin: auto;

    border-radius: 1em;
    background: transparent;
    box-shadow: inset 0 0 0 0.1rem oklch(from black l c h / 10%);

    position: absolute;
    transition: box-shadow 150ms ease,
                width 150ms ease, height 150ms ease;
    pointer-events: none;
} */
#login-section {
    .home-link {
        place-self: center;
        display: flex;
        orbi-logo { height: 2.2rem; }
    }
    h2 {
        margin-top: min(6vh, 2em);
        font-size: 1.2rem;
        font-weight: bold;
        font-family: var(--font-title);
        text-wrap: balance;
    }
    p {
        margin-top: .2em;
        font-size: .9rem;
        text-wrap: pretty;
        color: var(--color-text-muted);

        a {
            font-weight: 500;
            color: var(--color-tertiary-900);
        }
        a:hover, a:focus-visible { text-decoration: none; }
    }
}


/* formulario de login */
form {
    margin-top: 2.5em;
    orbi-icon { pointer-events: none; }
}

.input-container {
    position: relative;

    &:not(:first-of-type) { margin-top: 2rem; }

    & *:disabled {
        cursor: default;
        opacity: .5;
    }
}
.input-container {
    label, input {
        font-size: .9rem;
        display: block;
        caret-color: var(--color-text);
    }
    label {
        height: fit-content;
        inset: 0;
        margin: auto;
        margin-top: .4em;
        position: absolute;

        color: var(--color-text-muted);

        transition: translate 150ms ease,
                    color 150ms ease,
                    font-size 150ms ease;
        pointer-events: none;
    }
    input {
        width: 100%;
        height: 2rem;
        padding: .4em .2em;

        font-family: var(--font-input);
        border: none;
        border-radius: .2em .2em 0 0;
        border-bottom: 1px solid var(--color-text-muted);

        background: transparent;
        color: var(--color-text);
        outline: none;

        transition: border-color 150ms ease;
    }
    orbi-icon {
        height: 100%;
        color: var(--color-text-muted);
    }

    /* color del auto completado */
    /* input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus{
        -webkit-box-shadow: 0 0 0 1000px var(--color-dark-cyan) inset !important;
        -webkit-text-fill-color: var(--color-white) !important;
        transition: background-color 5000s ease-in-out 0s;
    }
    input:-moz-autofill {
        box-shadow: inset 0 0 0 1000px var(--color-dark-cyan) !important;
        color: var(--color-white) !important;
    } */
}
.input-container {
    &:focus-within,
    &:has(input:not(:placeholder-shown)),
    &.error {
        label{
            margin: 0;
            font-size: .75em;
            translate: 0 -100%;
        }
    }
    &:focus-within {
        label { color: var(--color-tertiary-900); }
        input { border-bottom-color: var(--color-tertiary-900); }
    }
    &.error {
        input { border-color: var(--color-error); }
        label { color: var(--color-error); }
    }
}
#pw-input {
    padding-right: 2em;

    &::-ms-reveal,
    &::-webkit-password-toggle-button {
        display: none;
    }
}

.btn-container {
    aspect-ratio: 1 / 1;
    height: 2rem;
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;

    background: transparent;
}
#toggle-pw-btn {
    aspect-ratio: 1 / 1;
    height: 1.2rem;
    border: none;

    background: transparent;
    color: var(--color-text-muted);

    &:not(:disabled) { cursor: pointer; }
}

#submit-btn {
    height: 3rem;
    width: 100%;
    padding: .5em;
    margin-top: 3em;
    border: none;
    border-radius: .5em;

    position: relative;
    display: flex;
    gap: .2em;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background: radial-gradient(
                    ellipse at bottom right,
                    var(--color-tertiary-700) 35%, 35.1%,
                    transparent
                ),
                radial-gradient(
                    ellipse at top left,
                    var(--color-tertiary-900) 40%, 40.1%,
                    var(--color-tertiary-800)
                );
    color: var(--color-text-alt);

    &:disabled {
        cursor: not-allowed;
        background: transparent;
        box-shadow: inset 0 0 0 1px var(--color-text-muted);

        &:has(orbi-icon.loading) { cursor: wait; }

        & > *:not(.loading) {
            color: var(--color-text-muted);
        }
    }
}
#submit-btn {
    orbi-icon {
        height: .9rem;
    }
    span {
        font-family: var(--font-title);
        font-size: 1rem;
        font-weight: 500;
    }
    & + orbi-error {
        margin-top: min(6vh, 2em);
        font-size: .75rem;
    }
    /* &:not(button:disabled) {
        orbi-icon, span{
            filter: drop-shadow(1px 1px 1px var(--color-dark-gray));
        }
        &:hover, &:focus-visible{
            background-position: 100%;
        }
    } */
}

@keyframes spin {
    to { rotate: 360deg; }
}
#submit-btn > orbi-icon.loading {
    margin: auto;
    inset: 0;
    position: absolute;

    animation: spin 800ms linear infinite;
    transform-origin: center center;
    /* filter: drop-shadow(0 0 3px var(--color-lighter-cyan))
            drop-shadow(0 0 3px var(--color-black)); */
}