body > main{
    min-height: 100vh;

    display: grid;
    place-items: center;

    background: radial-gradient(ellipse at -200vw -500vh, var(--color-blue), transparent)
                no-repeat center/100% 100%,

                radial-gradient(ellipse at -400vw 50vh, var(--color-cyan), transparent)
                no-repeat center/100% 100%,

                var(--pattern-stars);
}

#register-section{
    width: clamp(min(100vw, 450px), 40vw, 650px);
    height: fit-content;
    padding: min(8vh, 4rem) min(10vw, 3rem);
    position: relative;

    border: 0.2rem inset rgba(var(--rgb-black), 0.1);
    border-radius: 1rem;
    border-top-right-radius: min(5rem, 20vw);
    backdrop-filter: blur(5px);
    background:
    linear-gradient(
        -30deg,
        rgba(var(--rgb-black), 0.4),
        rgba(var(--rgb-black), 0.2));
    box-shadow: 0 0 2rem rgba(var(--rgb-black), 0.3);

    z-index: 1000;

    &:focus-within::before{
        width: 96%;
        height: 96%;
        box-shadow: inset 0 0 0 0.1rem var(--color-light-cyan);
    }
    &:has(#submit-btn + orbi-icon.loading)::before{
        box-shadow: inset 0 0 0 0.1rem rgba(var(--rgb-black), 0.2);
    }
}
#register-section::before{
    content: '';
    width: 97%;
    height: 97%;
    inset: 0;
    margin: auto;
    
    border-radius: 1rem;
    border-top-right-radius: min(5rem, 20vw);
    
    background: transparent;
    box-shadow: inset 0 0 0 0.1rem rgba(var(--rgb-white), 0.1);
    
    position: absolute;
    transition: box-shadow 150ms ease,
                width 150ms ease, height 150ms ease;
    pointer-events: none;
}
#register-section{
    h2{
        text-wrap: balance;
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: min(6vh, 2rem);

        color: var(--color-light-gray);
    }
    p{
        text-wrap: pretty;
        font-size: 0.9rem;
        margin-top: 0.2rem;

        color: var(--color-gray);
    }
    a{
        font-weight: 500;
        color: var(--color-light-cyan);
    }
    a:hover, a:focus-visible{
        color: var(--color-pale-cyan);
        text-decoration: none;
    }
}


/* formulario de registro */
form{
    margin-top: 2.5rem;

    orbi-icon{ pointer-events: none; }
}

.input-container{
    position: relative;

    &:not(:first-of-type){ margin-top: 2rem; }

    & *:disabled{
        cursor: default;
        opacity: 0.5;
    }
}
.input-container{
    label, input{
        font-size: 0.9rem;
        display: block;
        caret-color: var(--color-white);
    }
    label{
        height: fit-content;
        margin: auto;
        margin-top: 0.4rem;
        inset: 0;
        position: absolute;

        color: var(--color-gray);

        transition: translate 150ms ease,
                    color 150ms ease,
                    font-size 150ms ease;
        pointer-events: none;
    }
    input{
        width: 100%;
        height: 2rem;
        padding: 0.4rem 0.2rem;

        font-family: var(--font-legible);
        border: none;
        border-radius: 0.2rem 0.2rem 0 0;
        border-bottom: 1px solid var(--color-darker-gray);

        background: transparent;
        color: var(--color-white);

        transition: border-color 150ms ease;
        outline: none;
    }
    orbi-icon{
        height: 100%;
        color: var(--color-gray);
    }

    /* color del auto completado */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus{
        -webkit-box-shadow: 0 0 0 1000px var(--color-dark-cyan) inset !important;
        -webkit-text-fill-color: var(--color-white) !important;
        transition: background-color 5000s ease-in-out 0s;
    }
    input:-moz-autofill {
        box-shadow: inset 0 0 0 1000px var(--color-dark-cyan) !important;
        color: var(--color-white) !important;
    }
}
.input-container{
    &:focus-within,
    &:has(input:not(:placeholder-shown)),
    &.error{
        label{
            margin: 0;
            font-size: 0.75rem;
            translate: 0 -100%;
        }
    }
    &:focus-within{
        label{ color: var(--color-light-cyan); }
        input{ border-bottom-color: var(--color-light-cyan); }
    }
    &.error{
        input{ border-color: var(--color-pale-red); }
        label{ color: var(--color-pale-red); }
    }
}
#pw-input{
    padding-right: 2rem;

    &::-ms-reveal,
    &::-webkit-password-toggle-button{
        display: none;
    }
}

.btn-container{
    height: 2rem;
    aspect-ratio: 1 / 1;
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    
    background: transparent;
}
#toggle-pw-btn{
    height: 1.2rem;
    aspect-ratio: 1 / 1;
    border: none;

    background: transparent;
    color: var(--color-dark-gray);

    &:not(:disabled){ cursor: pointer; }
}

#submit-btn{
    height: 3rem;
    width: 100%;
    padding: 0.5rem;
    margin-top: 3rem;
    border: none;
    border-radius: 0.25rem;

    position: relative;
    display: inline-flex;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;

    background: radial-gradient(
        circle at top right,
        var(--color-darker-blue),
        var(--color-darker-gray),
        var(--color-light-cyan),
        var(--color-pale-cyan));
    background-size: 350% 350%;
    background-position: 40%;
    color: var(--color-white);
    
    transition: background-position 300ms ease-in-out;
    cursor: pointer;

    &:disabled{
        background-position: 100%;
        cursor: not-allowed;
        &:has(orbi-icon.loading){ cursor: wait; }

        & > *:not(.loading){
            color: var(--color-dark-gray);
            opacity: 0.5;
        }
    }
    
}
#submit-btn{
    orbi-icon{
        height: 0.9rem;
        stroke-width: 2rem;
    }
    span{
        height: 1.1rem;
        font-size: 0.9rem;
        font-weight: bold;
    }
    & + orbi-error{
        margin-top: min(6vh, 2rem);
        font-size: 0.75rem;
    }
    &:not(button:disabled){
        orbi-icon, span{
            filter: drop-shadow(1px 1px 1px var(--color-dark-gray));
        }
        &:hover, &:focus-visible{
            background-position: 0%;
        }
    }
}

@keyframes spin{
    to { rotate: 360deg; }
}
orbi-icon.loading {
    position: absolute;
    animation: spin 0.8s linear infinite;
    transform-origin: center center;
}

.input-container > orbi-icon.loading {
    height: 1.2rem;
    inset: 0;
    margin: auto;
    margin-right: 0.4rem;
}

#submit-btn > orbi-icon.loading {
    inset: 0;
    margin: auto;
    filter: drop-shadow(0 0 3px var(--color-lighter-cyan))
            drop-shadow(0 0 3px var(--color-black));
}